body{
background-image: url("../imgs/fundo.jpg");
}

#logo {
background-image: url("../imgs/logo.png");
width: 423px;
height: 107px;
position: block;
}

h1 > a{
font-family: Lucida Console;
font-size: 15px;
color: #778899;
}

h1 > a:link, a:visited {
text-decoration: none;
}

h1 > a:hover {
text-decoration: underline; 
color: #FFFF00;
}

h1 > a:active {
text-decoration: none;
}

#titulopag {
font-family: Lucida Console;
text-indent: 1.5em;
font-size: 30px;
left: 30px;
color: #FFA500;
}

#corsmall {
color: #F8F8FF;
}

#fontepadrao {
font-family: Lucida Console;
font-weight: bold;
}

#fontebotao {
font-family: Courier New;
font-weight: bold;
}

#msgavisotitulo{
font-family: Lucida Console;
font-weight: bold;
font-size: 20px;
color: #363636;
}

#msgavisotexto {
font-family: Courier New;
font-size: 15px;
font-weight: bold;
font-style: oblique;
color: #FFFFFF;
}

.corbalao {
background: #778899;
}

input[type=radio].css-checkbox {
z-index: -1000;
left: -1000px;
overflow: hidden;
clip: rect(0 0 0 0);
height: 1px;
width: 1px;
}

input[type=radio].css-checkbox + label.css-label {
padding-left: 23px;
height: 18px; 
display: inline-block;
line-height: 18px;
background-repeat: no-repeat;
font-size: 12px;
vertical-align: middle;
cursor: pointer;

}

input[type=radio].css-checkbox:checked + label.css-label {
background-position: 0 -18px;
}

label.css-label {
background-image: url("../imgs/checkbox.png");
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}